@import 'utils';

/*
#Function
>>>>>>>>>>>>>>>>*/

	/*
	##Thumbnails: https://www.iconfinder.com/search/?q=iconset%3Anuvola2
	>>>>>>>>>>>>>>>>*/

	.linkflair {

		@include flair((), 80px, 300px) {
			background: url(%%sprites-linkflair%%) no-repeat scroll transparent;
			width: 80px; height: 50px;
			margin-left: 0; margin-right: 15px;
			img {
				display: none;
			}
		};

		@include flair((request, pending), 0, 0);
		@include flair((request, processed), 80px, 0);

		@include flair((issue, pending), 0, 100px);
		@include flair((issue, processed), 80px, 100px);

		@include flair((question, pending), 0, 200px);
		@include flair((question, processed), 80px, 200px);

		@include flair((resource), 80px, 300px);

		@include flair((meta), 80px, 400px);

		@include flair((archived), 0, 400px);
	}


	/*
	##Hide archived posts
	>>>>>>>>>>>>>>>>*/

	body:not(.moderator) .linklisting .thing.linkflair-archived { display: none; }


	/*
	##Hide flair templates
	>>>>>>>>>>>>>>>>*/

	body:not(.moderator) .flairoptionpane {
		.linkflair-archived { display: none; }
	}


	/*
	##High visibility unflaired posts
	>>>>>>>>>>>>>>>>*/

	body.moderator .linklisting .thing:not(.linkflair):not(.comment) {
		& { background-color: #FA8072; }
		:root.res-nightmode & { background-color: #623D39; }
	}


	/*
	##Multiple submission buttons
	>>>>>>>>>>>>>>>>*/

	.sidebox.submit { display: none; }

	.titlebox .md a[href="#submit"] + a {
		margin: 7px 0 12px 0;
		display: block;
		text-align: center;
		position: relative;
		border: 1px solid #c4dbf1;
		background: #FFF none repeat-x scroll center left;
		background-image: url(%%sprite-reddit%%);
		background-position: 0px -278px;
		background-repeat: repeat;
		font-size: 15px;
		font-weight: bold;
		font-family: verdana, arial, helvetica, sans-serif;
		font-style: normal;
		font-variant: normal;
		letter-spacing: -1px;
		line-height: 29px;
		text-decoration: none;
		height: 29px;
		
		:root:not(.res-nightmode) & {
			&:hover {
				color: white;
				border-color: #879eb4;
				background-image: url(%%sprite-reddit%%);
				background-position: 0px -243px;
				background-repeat: repeat;
			}
			&:after { /* Nub */
				content: "";
				display: inline-block;
				float: right;
				position: relative;
				top: -1px;
				right: -1px;
				height: 31px;
				width: 24px;
				background: #FFF none no-repeat scroll center left;
				background-image: url(%%sprite-reddit%%);
				background-position: -30px -547px;
				background-repeat: no-repeat;
			}
			&:hover:after {
				background-position: 0px -547px;
			}
		}
		:root.res-nightmode & {
			background: #393939;
			border-radius: 6px;
			border: 2px solid #151515;
			color: #1B83BB; /* Multiplied with background by 0.8 */
			border-radius: 8px;
			&:hover {
				color: white;
			}
		}
	}


/*
#Style
>>>>>>>>>>>>>>>>*/

	/*
	##Reword link flair
	>>>>>>>>>>>>>>>>*/

	.flat-list.buttons .flairselectbtn {
		font-size: 0px;
	}

	.flat-list.buttons .flairselectbtn:before {
		content: "tag";
		font-size: 10px;
		color: #f5f5f5;
		padding: 2px 4px 2px 4px;
		border: 1px solid #494848;
		border-radius: 5px;
		background-color: #ef3d3d;
		.linkflair & {
			content: "change tag";
			color: #888;
			background: #f5f5f5;
			border: 0px;
		}
	}

	/*
	##Tooltips
	>>>>>>>>>>>>>>>>*/

	/*.titlebox */.md a[href="#submit"] + a[title]:hover:before {
		display: block;
		text-align: center;
		top: 0;
		background-color: #a00;
		color: #fff;
		z-index: 1000;
		width: 100%;
		left: 0;
		font-size: 22px;
		content: attr(title);
		position: fixed;
	}

	/*
	##Normalised titles
	>>>>>>>>>>>>>>>>*/

	.title::first-letter { text-transform: uppercase; }


	/*
	##Link flair alignment
	>>>>>>>>>>>>>>>>*/

	.linkflairlabel {
		min-width: 5em;
		text-align: center;
	}


	/*
	##Hide post title in flair selector
	>>>>>>>>>>>>>>>>*/

	.flairselector .title {
		visibility: hidden;
	}


	/*
	##Sidebar title
	>>>>>>>>>>>>>>>>*/

	.titlebox h1 a:before {
		content: "/r/";
	}


	/*
	##Inline code
	>>>>>>>>>>>>>>>>*/

	.md :not(pre) code {
		color: #080;
		border: 1px solid #eaeaea;
		background-color: #f6f6f6;
		border-radius: 3px;
		margin: 0 2px;
		padding: 0px 5px
	}


	/*
	##Code blocks
	>>>>>>>>>>>>>>>>*/

	.md pre {
		background: url(%%codebg%%) top left repeat;
		border: 1px solid #DDECFB; /* #CEE3F8 and #EFF7FF http://meyerweb.com/eric/tools/color-blend/ */
		border-left: 31px solid #DDECFB;
		position: relative;
		line-height: 15px
	}
	.md pre code {
		padding: 15px;
		overflow: auto;
		display: block;
		line-height: 15px
	}
	.md pre:before {
		color: #888;
		$content: "#";
		@for $i from 1 to 100 {
			$content: $content + str-pad(#{$i}, 4);
		}
		content: "#{$content}";
		height: 100%;
		line-height: 15px;
		position: absolute;
		left: -28px;
		width: 25px;
		white-space: pre-wrap;
		direction: rtl;
		overflow: hidden
	}
