@import 'utils';

/*
#Function
>>>>>>>>>>>>>>>>*/

/*
##Thumbnails: https://www.iconfinder.com/search/?q=iconset%3Anuvola2
>>>>>>>>>>>>>>>>*/

.linkflair {

	@include flair((), 80px, 300px) { 
		background: url(%%sprites-linkflair%%) no-repeat scroll transparent;
		margin-left: 0; margin-right: 15px;
		width: 80px; height: 50px;
		img {
			display: none;
		}
	};

	@include flair((request, pending), 0, 0);
	@include flair((request, processed), 80px, 0);

	@include flair((issue, pending), 0, 100px);
	@include flair((issue, processed), 80px, 100px);

	@include flair((question, pending), 0, 200px);
	@include flair((question, processed), 80px, 200px);

	@include flair((resource), 80px, 300px);

	@include flair((meta), 80px, 400px);

	@include flair((archived), 0, 400px);
}


/*
##Hide archived posts
>>>>>>>>>>>>>>>>*/

body:not(.moderator) .linklisting .thing.linkflair-archived { display: none; }


/*
##Hide templates
>>>>>>>>>>>>>>>>*/

body:not(.moderator) .flairoptionpane {
	.linkflair-archived { display: none; }
}


/*
##High visibility unflaired posts
>>>>>>>>>>>>>>>>*/

body.moderator .linklisting .thing:not(.linkflair):not(.comment) {
	& { background-color: #FA8072; }
	html.res-nightmode & { background-color: #623D39; }
}


/*
##Multiple submission buttons
>>>>>>>>>>>>>>>>*/

.sidebox.submit {
	display: none;
}

.titlebox .md a[href="#submit"] + a {
	margin: 7px 0 12px 0;
	display: block;
	text-align: center;
	position: relative;
	border: 1px solid #c4dbf1;
	background: #FFF none repeat-x scroll center left;
	background-image: url(%%sprite-reddit%%);
	background-position: 0px -278px;
	background-repeat: repeat;
	font-size: 15px;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	letter-spacing: -1px;
	line-height: 29px;
	text-decoration: none;
	height: 29px;
}

.titlebox .md a[href="#submit"] + a:hover {
	color: white;
	border-color: #879eb4;
	background-image: url(%%sprite-reddit%%);
	background-position: 0px -243px;
	background-repeat: repeat;
}

html:not(.res-nightmode) .titlebox .md a[href="#submit"] + a:after {
	content: "";
	display: inline-block;
	float: right;
	position: relative;
	top: -1px;
	right: -1px;
	height: 31px;
	width: 24px;
	background: #FFF none no-repeat scroll center left;
	background-image: url(%%sprite-reddit%%);
	background-position: -30px -547px;
	background-repeat: no-repeat;
}

html:not(.res-nightmode) .titlebox .md a[href="#submit"] + a:hover:after {
	background-position: 0px -547px;
}

/* Night mode */

html.res-nightmode .titlebox .md a[href="#submit"] + a {
	background: #393939;
	border-radius: 6px;
	border: 2px solid #151515;
	color: #1B83BB; /* Multiplied with background by 0.8 */
	border-radius: 8px;
}

html.res-nightmode .titlebox .md a[href="#submit"] + a:hover {
	color: #FFF;
}


/*
#Style
>>>>>>>>>>>>>>>>*/

/*
##Reword link flair
>>>>>>>>>>>>>>>>*/

.flat-list.buttons .flairselectbtn {
	font-size: 0px;
}

.flat-list.buttons .flairselectbtn:before {
	content: "tag";
	font-size: 10px;
	color: #f5f5f5;
	padding: 2px 4px 2px 4px;
	border: 1px solid #494848;
	border-radius: 5px;
	background-color: #ef3d3d;
	.linkflair & {
		content: "change tag";
		color: #888;
		background: #f5f5f5;
		border: 0px;
	}
}

/*
##Tooltips
>>>>>>>>>>>>>>>>*/

/*.titlebox */.md a[href="#submit"] + a[title]:hover:before {
	display: block;
	text-align: center;
	top: 0;
	background-color: #a00;
	color: #fff;
	z-index: 1000;
	width: 100%;
	left: 0;
	font-size: 22px;
	content: attr(title);
	position: fixed;
}

/*
##Normalised titles
>>>>>>>>>>>>>>>>*/

.title::first-letter { text-transform: uppercase; }


/*
##Link flair alignment
>>>>>>>>>>>>>>>>*/

.linkflairlabel {
	min-width: 5em;
	text-align: center;
}


/*
##Hide post title in flair selector
>>>>>>>>>>>>>>>>*/

.flairselector .title {
	visibility: hidden;
}


/*
##Sidebar title
>>>>>>>>>>>>>>>>*/

.titlebox h1 a:before {
	content: "/r/";
}


/*
##Inline code
>>>>>>>>>>>>>>>>*/

.md :not(pre) code {
	color: #080;
	border: 1px solid #eaeaea;
	background-color: #f6f6f6;
	border-radius: 3px;
	margin: 0 2px;
	padding: 0px 5px
}


/*
##Code blocks
>>>>>>>>>>>>>>>>*/

.md pre {
	background: url(%%codebg%%) top left repeat;
	border: 1px solid #DDECFB; /* #CEE3F8 and #EFF7FF http://meyerweb.com/eric/tools/color-blend/ */
	border-left: 31px solid #DDECFB;
	position: relative;
	line-height: 15px
}
.md pre code {
	padding: 15px;
	overflow: auto;
	display: block;
	line-height: 15px
}
.md pre:before {
	color: #888;
	content: "#   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 ";
	height: 100%;
	line-height: 15px;
	position: absolute;
	left: -28px;
	width: 25px;
	white-space: pre-wrap;
	direction: rtl;
	overflow: hidden
}
