@import 'common';

html:not([lang='ns']) {
	&[lang='tb'] { @import 'layouts/headstrong'; }
	&[lang='dc'] { @import 'layouts/dual-column'; }
	&[lang='dk'] { @import 'themes/earth'; }
}

/*
#Config
>>>>>>>>>>>>>>>>*/

	/*
	##Flair
	>>>>>>>>>>>>>>>>*/

		/*
		###Thumbnails: https://www.iconfinder.com/search/?q=iconset%3Anuvola2
		>>>>>>>>>>>>>>>>*/

		@include linkflairthumb((), 80px, 300px) {
			background: url(%%sprites-linkflair%%) no-repeat scroll transparent;
			width: 80px; height: 50px;
			margin-left: 0; margin-right: 15px;
			img {
				display: none;
			}
		};

		@include linkflairthumb((request, pending), 0, 0);
		@include linkflairthumb((request, processed), 80px, 0);

		@include linkflairthumb((issue, pending), 0, 100px);
		@include linkflairthumb((issue, processed), 80px, 100px);

		@include linkflairthumb((question, pending), 0, 200px);
		@include linkflairthumb((question, processed), 80px, 200px);

		@include linkflairthumb((resource), 80px, 300px);

		@include linkflairthumb((meta), 80px, 400px);

		@include linkflairthumb((archived), 0, 400px);

/*
#Style
>>>>>>>>>>>>>>>>*/

	/*
	##Code blocks
	>>>>>>>>>>>>>>>>*/

		.md pre {
			background: url(%%codebg%%) top left repeat;
		}
