@import 'utils';

/*
#Function
>>>>>>>>>>>>>>>>*/

	.sidebox.submit { display: none; } // Using links

	/*
	##Thumbnails: https://www.iconfinder.com/search/?q=iconset%3Anuvola2
	>>>>>>>>>>>>>>>>*/

	.linkflair {

		@include flair((), 80px, 300px) {
			background: url(%%sprites-linkflair%%) no-repeat scroll transparent;
			width: 80px; height: 50px;
			margin-left: 0; margin-right: 15px;
			img {
				display: none;
			}
		};

		@include flair((request, pending), 0, 0);
		@include flair((request, processed), 80px, 0);

		@include flair((issue, pending), 0, 100px);
		@include flair((issue, processed), 80px, 100px);

		@include flair((question, pending), 0, 200px);
		@include flair((question, processed), 80px, 200px);

		@include flair((resource), 80px, 300px);

		@include flair((meta), 80px, 400px);

		@include flair((archived), 0, 400px);
	}


	/*
	##Hide archived posts
	>>>>>>>>>>>>>>>>*/

	body:not(.moderator) .linklisting .thing.linkflair-archived { display: none; }


	/*
	##Hide flair templates
	>>>>>>>>>>>>>>>>*/

	body:not(.moderator) .flairoptionpane {
		.linkflair-archived { display: none; }
	}


	/*
	##High visibility unflaired posts
	>>>>>>>>>>>>>>>>*/

	body.moderator .linklisting .thing:not(.linkflair):not(.comment) {
		& { background-color: #FA8072; }
		:root.res-nightmode & { background-color: #623D39; }
	}


/*
#Style
>>>>>>>>>>>>>>>>*/

	/*
	##Code blocks
	>>>>>>>>>>>>>>>>*/

	.md pre {
		background: url(%%codebg%%) top left repeat;
	}
	

	/*
	##Reword link flair
	>>>>>>>>>>>>>>>>*/

	.flat-list.buttons .flairselectbtn {
		font-size: 0px;
	}

	.flat-list.buttons .flairselectbtn:before {
		content: "tag";
		font-size: 10px;
		color: #f5f5f5;
		padding: 2px 4px 2px 4px;
		border: 1px solid #494848;
		border-radius: 5px;
		background-color: #ef3d3d;
		.linkflair & {
			content: "change tag";
			color: #888;
			background: #f5f5f5;
			border: 0px;
		}
	}

	/*
	##Normalised titles
	>>>>>>>>>>>>>>>>*/

	.title::first-letter { text-transform: uppercase; }


	/*
	##Link flair alignment
	>>>>>>>>>>>>>>>>*/

	.linkflairlabel {
		min-width: 5em;
		text-align: center;
	}


	/*
	##Hide post title in flair selector
	>>>>>>>>>>>>>>>>*/

	.flairselector .title {
		visibility: hidden;
	}


	/*
	##Sidebar title
	>>>>>>>>>>>>>>>>*/

	.titlebox h1 a:before {
		content: "/r/";
	}


	/*
	##Inline code
	>>>>>>>>>>>>>>>>*/

	.md :not(pre) code {
		color: #080;
		border: 1px solid #eaeaea;
		background-color: #f6f6f6;
		border-radius: 3px;
		margin: 0 2px;
		padding: 0px 5px
	}
