/*
#Helpers
>>>>>>>>>>>>>>>>*/

@function str-pad($string, $len, $pad: " ") {
	$ret: $string;
	$idx: 0;
	@while(str-length($ret) < $len) {
		$rem: $len - str-length($ret);
		/* Slice $pad to fit */
		$pad: if($rem < str-length($pad), str-slice($pad, 1, $rem), $pad);
		$ret: str-insert($ret, $pad, $idx);
		$idx: $idx + str-length($pad);
	}
	@return $ret;
}

@mixin rename($id, $text) {
	.id-t3_#{$id} a.title {
		font-size: 0;
		visibility: hidden;
		&:after {
			font-size: medium;
			visibility: visible;
			content: $text;
		}
	}
}


a[href='#img'] {
	content: ' ';
	display: inline-block;
	cursor: default;
}

@mixin image($id, $url, $width, $height) {
	a[href='#img'][title='#{$id}'] {
		background-image: url(#{$url});
		width: $width;
		height: $height;
		@content
	}
}


@mixin flair($tags, $x, $y) {
	$selector: '';
	@each $item in $tags {
		$selector: unquote('#{$selector}.linkflair-#{$item}');
	}
	&#{$selector} .thumbnail, &#{$selector} .thumbnail .self {
		background-position: (-$x) (-$y);
		@content;
	}
}
