@import 'base2';
$header-banner: url(%%banner%%) black;
$header-logo: url(%%logo%%);
@import 'layouts/headstrong';

html:not([lang="ns"]) {
	& { @import 'themes/earth'; }
}

/*
#Config
>>>>>>>>>>>>>>>>*/

	/*
	##Submission guidelines
	>>>>>>>>>>>>>>>>*/

		.submit_text.enabled {
			position: absolute;
			top: 130px;
		}
		.formtabs-content {
			padding-top: 150px;
		}

	/*
	##Wiki images
	>>>>>>>>>>>>>>>>*/

		@include image('viewmodel_fov_graph', '%%viewmodel-fov%%', 1231px, 556px);
		@include image('locate_1', '%%steampipe-1%%', 457px, 518px);
		@include image('locate_2', '%%steampipe-2%%', 616px, 400px);
		@include image('locate_3', '%%steampipe-3%%', 616px, 400px);

		@include image('fov_math_1', '%%fov-math-1%%', 231px, 41px) {
			background-color: white;
			border: 5px solid white;
		}
		@include image('fov_math_2', '%%fov-math-2%%', 231px, 41px) {
			background-color: white;
			border: 5px solid white;
		}
		@include image('fov_math_3', '%%fov-math-3%%', 251px, 41px) {
			background-color: white;
			border: 5px solid white;
		}

	/*
	##Renamed posts
	>>>>>>>>>>>>>>>>*/

		@include rename('17h5n1', 'Welcome to /r/tf2scripthelp');
		@include rename('19z0dc', "Using 'toggle'");
		@include rename('24oa29', "Separate CFG versus Autoexec");

	/*
	##User aliases
	>>>>>>>>>>>>>>>>*/

		.author[href$='/CAPSLOCK_USERNAME'] {
			text-transform: lowercase;
		}

	/*
	##Challenge stats
	>>>>>>>>>>>>>>>>*/

		a.author[href$='/TimePath'] ~ .flair-medal:after { content: '0' }

	/*
	##Flair
	>>>>>>>>>>>>>>>>*/

		/*
		###User
		>>>>>>>>>>>>>>>>*/

			@include flair((), 0, 0) { // Default
				background-image: url(%%sprite-reddit%%);
				width: 16px; height: 16px;
			};

			@include flair((scripter), 85, 582);
			@include flair((scripter-cs), 85, 582); // TODO: merge

			@include flair((batman), 0, 0) {
				background-image: url(%%bat-signal%%);
				width: 24px; height: 13px;
			};

			@include flair2((medal), 65, 615) {
				background-image: url(%%sprite-reddit%%);
				width: 11px; height: 16px;
				border-left: 5px solid; // Push icon
				border-left-color: transparent;
				padding-left: 15px; // Push text
				content: '0'; // Default count
			};

			.flair-scripter-cs {
				font-family: 'Comic Sans MS', cursive, sans-serif;
			}

		/*
		###Link
		>>>>>>>>>>>>>>>>*/

			@include linkflairlabel((), 0, 599) { // TODO: div.side a[href*='#flair']
				background-image: url(%%sprite-reddit%%);
				width: 16px; height: 16px;
			}

			@include linkflairlabel((pending, issue), 102, 582); // red, div.side a[href*='=issue']
			@include linkflairlabel((pending, question), 16, 120) { // div.side a[href*='=question']
				background-image: url(%%thumbs-reddit%%);
			}
			@include linkflairlabel((processed, issue), 54, 528); // green, div.side a[href*='=resolved']
			@include linkflairlabel((processed, question), 54, 528); // green, div.side a[href*='=answered']

			@include linkflairlabel((discussion), 88, 528);
			@include linkflairlabel((tutorial), 88, 528);
			@include linkflairlabel((explanation), 88, 528);

			@include linkflairlabel((resource), 17, 599);

			@include linkflairlabel((wiki), 52, 583);

			@include linkflairlabel((challenge), 65, 615) { // div.side a[href*='=challenge']
				width: 11px;
			}

			@include linkflairlabel((archived), 0, 599);

			@include linkflairlabel((meta), 68, 599); // div.side a[href*='=meta']

			%tf2classicons {
				background-image: url(%%classes%%);
				width: 20px; height: 20px;
			}

			@include linkflairlabel((scout), 0, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((soldier), 20, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((pyro), 40, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((demoman), 60, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((heavy), 80, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((engineer), 100, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((medic), 120, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((sniper), 140, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((spy), 160, 0) {
				@extend %tf2classicons;
			}

			@include linkflairlabel((multi), 180, 0) {
				@extend %tf2classicons;
			}

/*
#Style
>>>>>>>>>>>>>>>>*/

	/*
	##Background
	>>>>>>>>>>>>>>>>*/

		body,
		body.res-nightmode {
			background-image: url(%%console0%%) !important;
			background-repeat: no-repeat;
			background-position: 0px 200px;
			background-attachment: scroll;
		}

	/*
	##Submissions
	>>>>>>>>>>>>>>>>*/

		.link:not(.linkflair) > .entry,
		.link.linkflair-archived > .entry { border-left: 4px solid red; padding-left: 4px; }

		.link.linkflair-archived > .entry { border-color: gray }

		.comments-page.post-submitter .link:not(.linkflair):before {
			content: "Your post requires flair before it'll become visible on the front page";
			display: block;
			padding: 5px;
			color: #fff;
			font-weight: bold;
			font-size: 240%;
			background: #f00;
			z-index: 0;
			height: 100%;
			line-height: 50px;
			margin-top: 0;
			margin-bottom: 5px;
			text-align: center
		}

		.submit-page #text-desc {
			font-size: 0px
		}
		.submit-page #text-desc:after {
			display: block;
			font-size: 14px;
			content: 'You are submitting a text-based post.'
		}

		/* Removes 'optional' from title text field label */
		.submit-page #text-field.roundfield span.gray {
			display: none;
		}
		/* Removes other subreddits from the submission page */
		.submit-page #reddit-field {
			display:none;
		}
		.submit-page #title-field .title,
		.submit-page #text-field .title,
		.submit-page #reddit-field .title {
			display: block;
			text-transform:capitalize;
		}

		.submit-page #title-field .title:after,
		.submit-page #text-field .title:after {
			display: block;
			color: #FF9C05;
			text-transform:none;
			font-size: 0.7em;
		}

		.submit-page #title-field .title:after {
			content:" Be as descriptive and specific in your title as possible. Avoid vague titles like 'Just a quick question' or 'I need help.'";
		}

		.submit-page #text-field .title:after {
			content:" Provide as much information about your question/problem as possible. Include the relevant parts of your script, and flair your post accordingly after submitting it.";
		}
