@import 'common';

$header-banner: url(%%banner%%) black;
$header-banner-height: 180px;
$header-logo: url(%%logo%%);
$header-logo-width: 70px;
@import 'layouts/headstrong';

/*
#Config
>>>>>>>>>>>>>>>>*/

	/*
	##Submission guidelines
	>>>>>>>>>>>>>>>>*/

		.submit_text.enabled {
			position: absolute;
			top: 130px;
		}
		.formtabs-content {
			padding-top: 200px;
		}

	/*
	##Auto linkflair
	>>>>>>>>>>>>>>>>*/

		#text-field, #BigEditor {
			.submit-page & textarea:first-line { font-size: 0; }
		}
	
	/*
	##Wiki images
	>>>>>>>>>>>>>>>>*/

		@include image('viewmodel_fov_graph', '%%viewmodel-fov%%', 1231px, 556px);
		@include image('locate_1', '%%steampipe-1%%', 457px, 518px);
		@include image('locate_2', '%%steampipe-2%%', 616px, 400px);
		@include image('locate_3', '%%steampipe-3%%', 616px, 400px);

		%math {
			background-color: white;
			border: 5px solid white;
		}
		
		@include image('fov_math_1', '%%fov-math-1%%', 231px, 41px) {
			@extend %math;
		}
		@include image('fov_math_2', '%%fov-math-2%%', 231px, 41px) {
			@extend %math;
		}
		@include image('fov_math_3', '%%fov-math-3%%', 251px, 41px) {
			@extend %math;
		}

	/*
	##Renamed posts
	>>>>>>>>>>>>>>>>*/

		@include rename('17h5n1', 'Welcome to /r/tf2scripthelp');
		@include rename('19z0dc', "Using 'toggle'");
		@include rename('24oa29', "Separate CFG versus Autoexec");

	/*
	##User aliases
	>>>>>>>>>>>>>>>>*/

		.author[href$='/CAPSLOCK_USERNAME'] {
			text-transform: lowercase;
		}

	/*
	##Challenge stats
	>>>>>>>>>>>>>>>>*/

		a.author[href$='/TimePath'] ~ .flair-medal:after { content: '0' }

	/*
	##Flair
	>>>>>>>>>>>>>>>>*/
	
		.flair, .linkflairlabel, div.side a[href*="#flair"] {
			padding: 2px 4px 6px 4px; /* tldr */
		}

		/*
		###User
		>>>>>>>>>>>>>>>>*/

			@include flair((), 0, 0) { // Default
				background-image: url(%%sprite-reddit%%);
				width: 16px; height: 16px;
			};
			
			@include flair((scripter), 44, 752);

			@include flair((batman), 0, 0) {
				background-image: url(%%bat-signal%%);
				width: 24px; height: 13px;
			};

			@include flair2((medal), -2, 816) {
				background-image: url(%%sprite-reddit%%);
				width: 11px; height: 16px;
				border-left: 5px solid; // Push icon
				border-left-color: transparent;
				padding-left: 15px; // Push text
				content: '0'; // Default count
			};

			.flair-cs {
				font-family: 'Comic Sans MS', cursive, sans-serif;
			}

		/*
		###Link
		>>>>>>>>>>>>>>>>*/
		
			%icons-reddit {
				background-image: url(%%sprite-reddit%%);
				width: 16px; height: 16px;
			}
			
			%icons-reddit2 {
				background-image: url(%%thumbs-reddit%%);
				width: 16px; height: 16px;
			}
		
			%icons-tf2 {
				background-image: url(%%classes%%);
				width: 20px; height: 20px;
			}

			@include linkflairlabel((), 0, 599) { // TODO: div.side a[href*='#flair']
				@extend %icons-reddit;
			}

			@include linkflairlabel((pending, issue), 65, 752); // red, div.side a[href*='=issue']
			@include linkflairlabel((pending, question), 16, 120) { // div.side a[href*='=question']
				@extend %icons-reddit2;
			}
			@include linkflairlabel((processed, issue), 44, 642); // green, div.side a[href*='=resolved']
			@include linkflairlabel((processed, question), 44, 642); // green, div.side a[href*='=answered']

			@include linkflairlabel((discussion), 0, 664);
			@include linkflairlabel((tutorial), 0, 664);
			@include linkflairlabel((explanation), 0, 664);

			@include linkflairlabel((resource), 0, 774);

			@include linkflairlabel((wiki), 0, 752);

			@include linkflairlabel((challenge), -2, 816); // div.side a[href*='=challenge']

			@include linkflairlabel((archived), 88, 752);

			@include linkflairlabel((meta), 66, 774); // div.side a[href*='=meta']

			@include linkflairlabel((scout), 0, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((soldier), 20, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((pyro), 40, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((demoman), 60, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((heavy), 80, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((engineer), 100, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((medic), 120, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((sniper), 140, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((spy), 160, 0) {
				@extend %icons-tf2;
			}

			@include linkflairlabel((multi), 180, 0) {
				@extend %icons-tf2;
			}
			
	/*
	##Submissions
	>>>>>>>>>>>>>>>>*/

		.link:not(.linkflair) > .entry,
		.link.linkflair-archived > .entry { border-left: 4px solid red; padding-left: 4px; }

		.link.linkflair-archived > .entry { border-color: gray }

		.comments-page.post-submitter .link:not(.linkflair):before {
			content: "Your post requires flair before it'll become visible on the front page";
			display: block;
			padding: 5px;
			color: #fff;
			font-weight: bold;
			font-size: 240%;
			background: #f00;
			z-index: 0;
			height: 100%;
			line-height: 50px;
			margin-top: 0;
			margin-bottom: 5px;
			text-align: center
		}

		.submit-page #text-desc {
			font-size: 0px
		}
		.submit-page #text-desc:after {
			display: block;
			font-size: 14px;
			content: 'You are submitting a text-based post.'
		}

		/* Removes 'optional' from title text field label */
		.submit-page #text-field.roundfield span.gray {
			display: none;
		}
		/* Removes other subreddits from the submission page */
		.submit-page #reddit-field {
			display:none;
		}
		.submit-page #title-field .title,
		.submit-page #text-field .title,
		.submit-page #reddit-field .title {
			display: block;
			text-transform:capitalize;
		}

		.submit-page #title-field .title:after,
		.submit-page #text-field .title:after {
			display: block;
			color: #FF9C05;
			text-transform:none;
			font-size: 0.7em;
		}

		.submit-page #title-field .title:after {
			content:" Be as descriptive and specific in your title as possible. Avoid vague titles like 'Just a quick question' or 'I need help.'";
		}

		.submit-page #text-field .title:after {
			content:" Provide as much information about your question/problem as possible. Include the relevant parts of your script, and flair your post accordingly after submitting it.";
		}

/*
#Style
>>>>>>>>>>>>>>>>*/

	html:not([lang='ns']) {
		@import 'layouts/dual-column';
		@import 'themes/earth';
		
		a.thumbnail.self { display: none; }
		
		/*
		##Background
		>>>>>>>>>>>>>>>>*/

			body,
			body.res-nightmode {
				background-image: url(%%console0%%) !important;
				background-repeat: no-repeat;
				background-position: 0px 200px;
				background-attachment: scroll;
			}
			
		/*
		###Title colors
		>>>>>>>>>>>>>>>>*/
		
			@include titlecolor(#88F, (pending, question));
			
			@include titlecolor(#F88, (pending, issue));
			@include titlecolor(#F88, (red));
			// #282, #8F8
			@include titlecolor(#8F8, (processed, question));
			@include titlecolor(#8F8, (processed, issue));
			@include titlecolor(#8F8, (green));
			
			@include titlecolor(#F8F, (resource));
			
			@include titlecolor(#FF8, (meta));
			
			@include titlecolor(#888, (archived));
	}
