@import 'common';

/*
#Config
>>>>>>>>>>>>>>>>*/

	/*
	##Renamed posts
	>>>>>>>>>>>>>>>>*/

		@include rename('1f5t6w', "What's the crosshair syntax?");
		@include rename('1ynxfa', 'Shoot after switching weapons?');
		@include rename('1yoct5', 'Spy viewmodel switcher with lastinv');
		@include rename('1yqsyq', 'Where to put my rocketreload.wav?');
		@include rename('1zuzft', 'Voice chat toggle');
		@include rename('1z188e', 'Crashing on weapon switch');
		@include rename('1znr2y', 'Scout script for swapping and firing weapons');
		@include rename('1zz24o', 'Offline training');
		@include rename('20cg8q', 'Demoman viewmodel script');
		@include rename('20fitm', 'A bunch of things');
		@include rename('20fj3p', 'Demoman charge turn script not working properly');
		@include rename('20hjeg', 'Pyro script bugging out');

	/*
	##Auto linkflair
	>>>>>>>>>>>>>>>>*/

		#text-field, #BigEditor {
			.submit-page & textarea:first-line { font-size: 0; }
		}

	/*
	##Submission text
	>>>>>>>>>>>>>>>>*/

		.formtabs-content {
			padding-top: 260px; // Push down by submission message height
		}

		.submit_text {
			top: 140px; // Position below header
			position: absolute;
		}

/*
#Style
>>>>>>>>>>>>>>>>*/

	/*
	##Lowercase subreddit name
	>>>>>>>>>>>>>>>>*/

		.titlebox h1 a {
			text-transform: lowercase;
		}
