/*
#Dual columns
>>>>>>>>>>>>>>>>*/

	/* Disable things to make it work */

	.clearleft, .rank {
		display: none;
	}

	/* Pages */

	.listing-page .content > .linklisting {
		margin-right: 320px;
	}

	/* Page */

	.listing-page .linklisting {
		padding: 12px 0 4px 0;
	}

	/* Posts */

	.listing-page .link {
		display: inline-block;
		vertical-align: top;
		padding: 1%;
		padding-left: 0;
		margin-left: 1%;
		max-width: 47%;
		width: 47%;

		&.stickied {
			width: 96% !important;
			max-width: none !important;
		}
		.buttons { /* For wrapping */
			max-width: 90%;
		}
		.midcol { /* Pull closer */
			margin-right: -5px;
		}
	}

	/* Float self text */

	.listing-page .expando-button ~ .expando {
		position: absolute;
	}
