$header-bar-height: 96px !default;
$header-banner: none !default;
$header-banner-height: 1px !default;
$header-logo: none !default;
$header-logo-width: 0px !default;
$header-snoo-width: 42px !default;

/*
#Layout
>>>>>>>>>>>>>>>>*/

	/*
	##Markdown
	>>>>>>>>>>>>>>>>*/

		/* Big posts */
		.usertext-body .md {
			max-width: none !important;
		}
		
		.titlebox .md { font-size: 90% !important }
		
	/*
	##Link info
	>>>>>>>>>>>>>>>>*/

		.linkinfo {
			text-align: center;
			font-size: 11px;
			padding: 10px 0px 5px 0px;
			/*
			width: 290px;
			margin-top: 5px;
			margin-bottom: 10px;
			margin-left: -1px;
			margin-right: 1px;
			*/
			/*
			border-radius: 0px !important;
			*/
		}
		.linkinfo .date {
			color: #EEDB00 !important;
			background-color: #9D511B;
		}
		
		.linkinfo .date {
			padding: 8px;
			margin: 10px;
			margin-top: 0px;
			margin-bottom: 7px;
			font-size: 12px;
			border-radius: 7px;
		}

		.linkinfo .score .word {
			display: none
		}

		.linkinfo .score .number, .linkinfo .upvotes .number, .linkinfo .downvotes .number {
			font-size: 18px !important;
			display: block;
			font-weight: normal !important
		}

		/* sub */

		.linkinfo .score, .linkinfo .upvotes .word, .linkinfo .downvotes .word {
			font-size: 9px;
		}

		/* ??? */

		.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
			float: left;
			padding: 5px 9px 5px 0;
			margin: 8px 9px 10px 0;
			text-align: center
		}

		.linkinfo .score {
			display: block;
			min-width: 80px;
			margin-left: 30px !important
		}

		/* Borders */

		.linkinfo .score, .linkinfo .upvotes {
			border-color: #403C33;
		}
		.linkinfo .score, .linkinfo .upvotes {
			border-right: 1px solid;
		}

		/* Link */

		.linkinfo .shortlink {
			clear: both !important;
			font-size: 10px;
			margin: 0px 20px 0px 20px;
			border: 0px solid #c2c2c2;
			text-align:center;
		}
		.linkinfo .shortlink input {
			background: transparent;
			border: 0px ;
			padding-left: 8px;
			font-size: 12px;
			margin-left: auto;
			margin-right: auto
		}

	/*
	##Mobile fixes
	>>>>>>>>>>>>>>>>*/

		#header:lang(mo),
		#header-bottom-left:lang(mo):after,
		.side form#search:lang(mo),
		.titlebox blockquote:last-child:lang(mo),
		#srList:lang(mo)
		{
			position: absolute !important;
		}

	/*
	##Floating header
	>>>>>>>>>>>>>>>>*/

		#header {
			height: $header-bar-height;

			position: fixed;
			top: -1px;
			width: 100%;
			z-index: 100;
		}

		#header-bottom-left:after {
			content: '';
			height: $header-bar-height - 64px;
			background-color: transparent;
			position: fixed;
			top: 64px;
			left: 0px;
			width: 100%;
			z-index: 100;
		}

		#header-img.default-header,
		#header-img {
			width: 32px;
		}

		.listing-page:not(.profile-page) > .content:before {
			display: block;
			content: '';
			background: $header-banner;
			margin: 0;
			margin-bottom: 7px;
			width: 100%;
			height: $header-banner-height;
		}

		/* Push content down */
		
		/*:target {
		padding-top: 96px;
		}*/

		/* Hack to restore anchors */

		.wiki-page .wiki-page-content .md.wiki h1,
		.wiki-page .wiki-page-content .md.wiki h2,
		.wiki-page .wiki-page-content .md.wiki h3,
		.wiki-page .wiki-page-content .md.wiki h4,
		.wiki-page .wiki-page-content .md.wiki h5,
		.wiki-page .wiki-page-content .md.wiki h6
		{
			border-top: solid 96px;
			border-color: transparent;
			margin: -96px 0 0;
			/*-webkit-background-clip: padding-box;
			-moz-background-clip: padding;
			background-clip: padding-box;*/
		}

		/* Same thing for posts and RES searching */
		/*.comments-page .commentarea a.author { border-top: 104px solid red !important; border-color: transparent !important }*/
		/*.comments-page a.author { padding-top: 96px !important }*/
		/* And accompanying RES tooltip */
		/*.comments-page .commentarea #authorInfoToolTip { margin-top: 104px !important }*/
		

		.wiki-page .wiki-page-content .md.wiki h1:lang(mo),
		.wiki-page .wiki-page-content .md.wiki h2:lang(mo),
		.wiki-page .wiki-page-content .md.wiki h3:lang(mo),
		.wiki-page .wiki-page-content .md.wiki h4:lang(mo),
		.wiki-page .wiki-page-content .md.wiki h5:lang(mo),
		.wiki-page .wiki-page-content .md.wiki h6:lang(mo)
		{
			border-top: solid 0px;
			border-color: transparent;
			margin: 0px 0 0;
			/*-webkit-background-clip: padding-box;
			-moz-background-clip: padding;
			background-clip: padding-box;*/
		}

		// Push content out of header
		body > .content { margin-top: $header-bar-height + 7px; }
		
		.listing-page:not(.profile-page) > .content {
			margin-top: $header-bar-height;
			margin-left: 0px;
			margin-right: 0px;
		}

		.listing-page:not(.profile-page) .side {
			margin-top: $header-banner-height; // ?
		}

		/*#siteTable {
			position: relative;
			z-index: -1;
		}*/

		/*
		###Tab menu
		>>>>>>>>>>>>>>>>*/

			#header-img.default-header {
				margin-right: 0px;
			}

			.pagename a { padding-left: $header-logo-width; }

			.pagename {
				background-image: $header-logo;
				background-repeat: no-repeat;
				background-position: -10px 50%;
				
				min-width: 100px;
				display: inline-block;
				
				padding-top: 16px;
				padding-bottom: 14px;
				
				margin-right: 0ex;
				
				padding-right: 1ex;
				padding-left: 1ex;
				
				border-left: 1px solid;
				border-right: 1px solid;
			}
			
			/*
			###Subscriber info
			>>>>>>>>>>>>>>>>*/

				.subscribers {
					position: fixed;
					top: 20px;
					z-index: 100;
					left: $header-snoo-width + $header-logo-width;
				}

				html:lang(mo) .subscribers { position: absolute; }

				.users-online:before { display: none; }

				.users-online .number {
					position: fixed;
					top: 47px;
					z-index: 100;
					left: $header-snoo-width + $header-logo-width;
				}

				html:lang(mo) .users-online .number { position: absolute; }

			.tabmenu {
				top: -15px;
				position: relative;
			}

			.tabmenu li {
				margin: 0px 0px;
			}

			#header-bottom-left ul.tabmenu li a,
			#header-bottom-left ul.tabmenu li.selected a
			{
				padding-top: 16px !important;
				padding-bottom: 15px !important;
				padding-left: 10px;
				padding-right: 10px;
				border-style: solid;
				border-width: 0px;
			}

			#header-bottom-left ul.tabmenu li {
				/* To the left */
				a { border-left: 1px solid #369; } /* Can't inherit, can't use border-left-width, wtf reddit? */
				a:hover { background-color: white; }
				/* First left */
				&.selected:first-child a, &:first-child a { border-left: 0px solid #369; } /* Can't inherit, can't use border-left-width, wtf reddit? */
				/* Selected */
				&.selected a {
					border-left: 1px solid #FF4500; /* Can't inherit, can't use border-left-width, wtf reddit? */
					border-right: 1px solid #FF4500; /* Can't inherit, can't use border-right-width, wtf reddit? */
				}
				/* To the right */
				&.selected ~ li a {
					border-left: 0px solid #369; /* Can't inherit, can't use border-left-width, wtf reddit? */
					border-right: 1px solid #369; /* Can't inherit, can't use border-right-width, wtf reddit? */
				}
			}


		/* Search bar */


		.side form#search {
			top: 26px;

			position: fixed;
			z-index: 100;
		}

		#search input[type=text] {
			height: 21px;
		}


		/* User bar */


		div#header-bottom-right {
			top: 0px;
			/*right: 320px;*/
			z-index: 101;

			position: relative;
			float: right;
		}
			
	/*
	##Move RES 'use subreddit style'
	>>>>>>>>>>>>>>>>*/

		html:not([lang*='-']) {
			body.res.loggedin .side .titlebox h1
			{ margin-bottom: -1000px !important; }
			body.res.loggedin .side .titlebox .subButtons, body.res.profile-page.loggedin .side .titlebox .subscribe-button
			{ padding-top: 1000px; }
		}

		body.res.loggedin .side .titlebox .tagline {
			margin-bottom: -131px !important;
		}
		body.res.loggedin .side .titlebox .md hr:nth-of-type(1) {
			padding-top: 131px !important;
			border-color: transparent !important;
		}
		
	/*
	##Disable stylesheet
	>>>>>>>>>>>>>>>>*/

		div.side a[href^='http://ns.'][href$='reddit.com'] {
			color: #D9D9D9 !important;
		}

		html:lang(ns) div.side a[href^='http://ns.'][href$='reddit.com'] {
			display: none;
			color: black !important;
		}

	/*
	##RES guider
	>>>>>>>>>>>>>>>>*/

		html:not([lang='mo']) .guider { position: fixed !important }
		
	/*
	##Post width
	>>>>>>>>>>>>>>>>*/

		.commentarea .menuarea {
			max-width: 800px;
		}
		
	.redditSingleClick {
		display: none;
	}
	
/*
#Other
>>>>>>>>>>>>>>>>*/

		/*#header-bottom-left {
			height: 100% !important;
		}*/

		/* Disable hot */

		/* Page header, http://www.reddit.com/r/cssnews/comments/197jhi/css_change_new_body_classes_for_pages/ */
		/*body.hot-page > div.content {
			display: none;
		}*/

		/*div#header-bottom-left ul.tabmenu a[href*='hot'] {
			display: none;
		}*/

		/*body.hot-page > div.content:before {
			display: inline !important;
			visibility: visible !important;
			content: "there doesn't seem to be anything here";
		}*/

		


		/*
		http://signaltower.co/2013/03/29/april-fools-pranks-for-developers/
		https://github.com/wesbos/aprilFools.css/blob/master/aprilFools.css
		*/


		/* sorting options */
		/*.commentarea .menuarea {
			padding: 2px
		}*/
		/*.commentarea .menuarea:before {
			content: 'Sort by:';
			padding-right: 10px
		}*/
		/* 'Sorted by:' text */
		/*.commentarea .menuarea .dropdown-title {
			display: none
		}*/

		/* Spacer */
		.commentarea .menuarea .spacer {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		/* Selected item */
		.dropdown.lightdrop .selected {
			display: none;
		}
		/* Menu container */
		.drop-choices.lightdrop {
			display: table;
			visibility: visible;
			border-left: none;
			position: static;
			border-radius: 5px;
			background: #221F1C;
			border: 1px solid #403C33 !important;
			padding: 5px 0px;
		}
		/* Menu item container */
		.commentarea .menuarea form {
			display: inline-block;
		}
		/* Text */
		.drop-choices.lightdrop a.choice {
			display: inline;
			padding: 0 5px;

			margin: 2px;
			padding-top: 2px;
			padding-bottom: 3px;
			border-radius: 3px;
			padding-right: 10px;
			padding-left: 10px;
		}
		.drop-choices.lightdrop a.choice:hover {
			color: #000 !important;
			background-color: #F49500 !important;
		}
		/* Selected Text */
		.drop-choices.lightdrop a.choice.selected {
			color: #000 !important;
			background-color: #9D511B;
			text-decoration: none !important;
			cursor: default;
		}

		.commentarea .menuarea form {
			padding-left: 0px;
		}

		/* Contest mode help */
		.commentarea .menuarea .help-hoverable {
			display: none;
		}

		#REScommentNavToggle {
			padding: 5px;
			margin-left: -5px;
			background: #221F1C;
			border: 1px solid #403C33;
			border-radius: 5px;
			width: auto !important;
		}

		#REScommentNavToggle span {
			display: none;
		}
		.user .userkarma {
			cursor: default;
		}
		
	/*
	##Community settings page
	>>>>>>>>>>>>>>>>*/
	
		/* Thread actions */
		html body .content .commentarea .spacer:nth-of-type(2) {
			background-color: #272422;
			border: 1px solid #403C33;
			border-radius: 5px;
			float: right;
			font-size: 0;
			padding: 5px;
		}
		
		.commentarea .menuarea .toggle {
			display: block !important;
		}
